.main_nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.main_nav_link:link,
.main_nav_link:visited {
  display: flex;
  align-items: center;

  padding: 0 1rem;
  height: 100%;
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  transition: color 0.5s;

  font-family: "BPG Arial Caps", sans-serif;
}
.main_nav_link:hover,
.main_nav_link:active {
  padding: 0 0.9rem;
  color: #898989;
  border-left: 1px solid #898989;
  border-right: 1px solid #898989;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0 0 1px #898989;
}
