.main_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 6rem;
  background-color: #857a72;
}

.main_nav_link:link,
.main_nav_link:visited {
  display: flex;
  align-items: center;

  padding: 0 1rem;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  transition: color 0.5s;

  font-family: "BPG Arial Caps", sans-serif;
}
.main_nav_link:hover,
.main_nav_link:active {
  padding: 0 0.9rem;
  color: #eeedec;
  border-left: 1px solid #eeedec;
  border-right: 1px solid #eeedec;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0 0 1px #eeedec;
}
