.category_container {
  margin: 5rem auto;
  display: flex;
  justify-content: space-around;
}

.category_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.category_text {
  max-width: 100rem;
  margin: 5rem auto;
}

.category_text h1 {
  font-size: 2.4rem;
  font-family: "BPG Arial Caps", sans-serif;
}

.category_container button {
  padding: 1rem;
  border: 1 solid #333;
  border-radius: 5px;
  background-color: transparent;
}

.category_container img,
.category_container h2 {
  width: 10rem;
  cursor: pointer;
}
