/***** GENERAL *****/
/****************************/

.flexbox {
  display: flex;
}

/***** HomePage  styles *****/
/****************************/

.home_section {
  max-width: 192rem;
  margin: 0 auto;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home_text_container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 50rem;
  margin-bottom: 8rem;
  background-color: #eeedec;

  /* offset-x | offset-y | blur-radius | color */
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); */
}

.welcome_texts {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  width: 100%;
  gap: 1rem;
  /* padding: 4.8rem 6.4rem; */
}

.welcome_texts h1 {
  width: 50%;
  border-top: 2px solid #65783a;
  border-bottom: 2px solid #65783a;
  width: fit-content;
  margin-bottom: 2rem;

  display: inline-block;

  font-family: "BPG Arial Caps", sans-serif;
  font-size: 3.6rem;
  line-height: 1.6;
  font-weight: 400;

  color: #000;
}
.welcome_texts h2,
.welcome_texts p {
  width: 70%;

  font-family: "BPG Arial Caps", sans-serif;
  font-size: 1.6rem;

  line-height: 2;
  font-weight: 400;

  color: #000;
}

.contact_btn {
  font-family: "BPG Arial Caps", sans-serif;
  width: fit-content;
  padding: 2rem 8rem;
  border: none;
  margin-top: 2rem;

  cursor: pointer;
  background-color: #65783a;

  font-size: 1.6rem;
  color: #eeedec;
  letter-spacing: 0.5rem;
  line-height: 1.8;

  border: 2px solid #65783a;
  /* border-radius: 5px; */

  transition: all 0.5s;
}

.contact_btn:hover {
  color: #65783a;
  background-color: #eeedec;
  border: 2px solid #65783a;
}

.cover {
  width: 80rem;
  height: 50rem;

  background-image: linear-gradient(90deg, #eeedec 2%, #ffffff0e 25%),
    url("../img/background.webp");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

/***** Services styles *****/
/****************************/

.services_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 60rem; */
  padding: 3rem;
}
.services_icon {
  width: 32px;
  height: 32px;
  fill: #65783a;
  margin-right: 5rem;
}

.services_list_conainer {
  display: flex;
  flex-direction: column;

  font-family: "BPG Arial Caps", sans-serif;
  color: #000;
  line-height: 1.8;
  max-width: 70rem;
}

.services_list_conainer ul {
  text-align: right;
  padding-left: 3rem;
  border-left: 5px solid #65783a;
  width: 40rem;
}

.banks {
  font-size: 1.2rem;
}
.services_list_conainer p {
  font-size: 3.2rem;
  justify-self: right;
}

.services_list_conainer li {
  font-size: 2.4rem;
  list-style: none;
  border-bottom: 1px solid #65783a;
  transition: all 0.3s;
  margin: 2rem 0;
}

.services_list_conainer li:hover {
  padding-right: 3rem;
}

.video {
  height: 429px;
  width: 241px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  border: none;
}

.projects_section {
  padding: 3.6rem 4.2rem;
}

.project_header {
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 3.2rem;

  line-height: 2;
  font-weight: 400;

  color: #000;
}

.galery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.4rem;
}
.galery_item {
  overflow: hidden;
}

.galery_item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}

.galery_item img:hover {
  transform: scale(1.1);
}

/***** contacts styles *****/
/****************************/

.contacts_section {
  height: 70rem;
}
