.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  height: 7.2rem;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
.slogan {
  display: flex;
  align-items: center;
  height: 100%;
}
.slogan a:link,
.slogan a:visited {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;

  text-decoration: none;
  color: #857a72;
  font-size: 3.6rem;
  font-family: "Rubik", sans-serif;
  transition: all 0.5s;
}

.slogan a:hover,
.slogan a:active {
  color: #898989;
}

.contact {
  display: flex;
  gap: 2rem;
}

.contact a {
  color: #857a72;
  font-size: 2.4rem;
  text-decoration: none;
}
